article {
    margin-left: 30%;
    margin-right: 30%;
}

#select {
    height: 300px;
}

#search_text {
    width: 70%;
    float: left;
    /*margin-right: 30%;*/

}
#test_case {
    width: 25%;
    float: left;
}