.form-horizontal {
    margin-left: 30%;
    margin-right: 30%;
}

.form-horizontal div div #inputID {
    width: 80%;
    float: left;
}

.form-horizontal div div #id_dupcheck {
    margin-left: 1%;
}

.form-horizontal button {
    float: right;
}

.form-horizontal div div div label {
    margin-right: 3%;
}


.form-horizontal div:nth-child(8) select{
    width: 96.7%;
}