{% extends "base.html" %}
{% block content %}
<div>
    <form class="form-group">
            <div class="form-group">
                <table class="table table-striped table-hover ">
                    <caption>신청한 교수 리스트</caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>교수이름</th>
                        <th>교수님이메일</th>
                        <th>교수승인</th>
                        <th>교수승인취소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>스캇</td>
                        <td>abcd@naver.com</td>
                        <td><button type="button" class="btn btn-info btn-sm" onclick="accept()">승인</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm" onclick="reject()">거절</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>도경구</td>
                        <td>asdkfj@naver.com</td>
                        <td><button type="button" class="btn btn-info btn-sm" onclick="accept()">승인</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm" onclick="reject()">거절</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-xs-offset-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
                    <button type="button" class="btn btn-default" onclick="gotoPage()">승인 완료</button>
                </div>
            </div>

    </form>
</div>
<script src="../static/js/accept_prfessor_lecture.js"></script>
{% endblock %}
