<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/search_lecture.css"/>
    <title>search_lecture</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</nav>
<form class="form-horizontal">
    <fieldset>
        <legend>강의 찾기</legend>
        <div class="form-group">
            <label for="search_area" class="col-xs-2 col-sm-4 col-md-5 col-lg-5 control-label">
            </label>
            <div class="col-xs-7 col-sm-5 col-md-3 col-lg-3 control-label">
                <input type="text" class="form-control" id="search_area" placeholder="Search">
            </div>
            <div>
                <button type="button" class="btn btn-default">search</button>
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-xs-2 col-sm-4 col-md-5 col-lg-5 control-label">강의를 찾아 선택하세요</label>
            <div class="col-xs-9 col-sm-5 col-md-3 col-lg-3">
                <select multiple="" class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>
<div class="form-group">
    <div class="col-lg-10 col-xs-offset-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
        <button type="reset" class="btn btn-default">뒤로 가기</button>
        <button type="submit" class="btn btn-primary">강의 신청</button>
    </div>
</div>
</body>
</html>

<!--이 템플릿으로 잘 이동했는지 확인하기위한 것들입니다 필요에 따라 지우고 수정해주세요-->
lecture_list
apply
강의 목록